@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Ms+Madi&family=Raleway:ital,wght@0,300;0,400;0,500;1,200&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  align-items: flex-start;
  background-image: url(./8326556.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  height: 100vh;
  justify-content: center;
}

main {
  align-items: center;
  background-color: rgb(249, 248, 246);
    -webkit-box-shadow: 1px 1px 23px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 23px 2px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 23px 2px rgba(0,0,0,0.3);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-family: Handlee;
  margin: 3%;
  padding: 2%;
  width: 600px;
}

main .container {
  margin: 3%;
}

#card-title {
  align-items: center;
  display: flex;
}

h1, h2{
  color: rgb(39,129,184);
  font-weight: bolder;
  margin: 0px;
}
hr {
  border: 1px solid rgb(39,129,184);
  width: 100%;
}
img {
  border-radius: 5px;
  font-weight: bolder;    
  width: 50px;
}

.add-todo {
  margin: 50px 0px;
}

input[type="text"],
input:focus {
  color: rgb(249, 248, 246);
  border: none;
  background:rgb(218, 225, 229);
  font-weight: bold;
  max-width: 400px;
  text-align: center;
}
button {
  background-color: rgb(39,129,184);  
  border: none;  
  border-radius: 5px;
  color:rgb(218, 225, 229);
  font-weight: bolder;
  margin-left: 1%;
  width: 100px;
}

.col-num, .col-todo, .delete {
  color: rgb(39,129,184);  
  font-size: larger;

}

.col-num {
  width: 8%;
}

.col-todo{
  width: max-content;
}

.delete {
  color: rgb(39,129,184);
  cursor: pointer;
  text-align: right;  
  width: 12%;
}

